@using MVCe_CommerenceApp.Models.Siniflar;
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>
        <th>GÖRSEL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    @foreach(var u in Model)
            {
                <tr>
                    <td>@u.UrunId</td>
                    <td>@u.UrunAd</td>
                    <td>@u.Marka</td>
                    <td>@u.Stok</td>
                    <td>@u.AlisFiyat</td>
                    <td>@u.SatisFiyat</td>
                    <td>@u.Kategori.KategoriAd</td>
                    <td>@u.UrunGorsel</td>
                    <td><a href="/Urun/UrunSil/@u.UrunId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Urun/UrunGetir/@u.UrunId" class="btn btn-success">Güncelle</a></td>
                    

                </tr>
            }
</table>
<a href="/Urun/YeniUrun" class="btn btn-info">Yeni Ürün</a>

