@using MVCe_CommerenceApp.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Personel Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı : @ViewBag.d</li>
</ol>

<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelID</td>
            <td>@x.PersonelAd</td>
            <td>@x.PersonelSoyad</td>
            <td>@x.PersonelGorsel</td>
            <td><a href="/Departman/DepartmanPersonelSatis/@x.PersonelID" class="btn btn-info">Satışlar</a></td>
        </tr>
    }


</table>
