@using MVCe_CommerenceApp.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top = 20px">
    <tr>
        
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam ₺</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Popup</th>
        <th>Yeni Kalem</th>
    </tr>
    @foreach (var k in Model)
    {
<tr>

    <td>@k.FaturaSeriNo</td>
    <td>@k.FaturaSıraNo</td>
    <td>@k.Tarih</td>
    <td>@k.Saat</td>
    <td>@k.Toplam</td>
    <td><a href="/Fatura/FaturaGetir/@k.FaturaID" class="btn btn-success">Güncelle</a></td>
    <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-default" style="background-color: darkviolet; color:white"> Detay</a></td>
    <td><a href="/Fatura/FaturaGetir/@k.FaturaID" class="btn btn-info">PopUp</a></td>
    <td><a href="/Fatura/FaturaGetir/@k.FaturaID" class="btn btn-warning">Yeni Kalem</a></td>
</tr>
    }

</table>
<a href="/Fatura/FaturaEkle" class="btn btn-info">Yeni Fatura</a>


